INPUT_FILE_PATH=data/tickets.csv
OUTPUT_DIR=output/
PERIODO_DIAS=30
GOOGLE_CLOUD_PROJECT=meu-projeto-id

# Configurações do Simulador
RUN_SIMULATOR=true
SIMULATOR_TICKETS_COUNT=1000

# Configurações de E-mail (Gmail)
# Crie uma Senha de Aplicativo na conta do Google e substitua aqui
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
EMAIL_SENDER=seu_email@gmail.com
EMAIL_PASSWORD=sua_senha_de_aplicativo_aqui
EMAIL_RECIPIENT=seu_email@gmail.com
